a, li, .h1, h2, h3, h6, span {
    font-family: 'Poppins', sans-serif !important;
    color: lightslategray !important;
}

.btn-lightgray {
    background-color: #33334C !important;
}


a .navicon {
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

    a:hover .navicon {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

.card {
    background-color: rgb(255,255,255, 0.05) !important;
}
.card:hover {
        opacity: 0.5;
    }

.card-body {
    background-color: rgb(34,35,57, 0.8) !important;
}

.carousel {
    background-color: rgb(34,35,57) !important;
}
.fs-8{
    font-size: 11px !important;
}
.active{
    color: lightgreen !important;
}

.text-bright{
    color: lightgreen !important;
}